.App {
  text-align: center;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.questionPage {
    position: fixed;
    width: 80%;
    height: 60%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #E9E9E9;
    z-index: 4;
    border: 1px solid #a1a1a1;
    border-radius: 7px;
}

    .questionPage label {
        margin-right: 10px;
        font-weight: bold;
    }

    .questionPage p {
        color: #F18651;
        font-weight: bold;
    }

        .questionPage p span {
            color: black;
            font-weight: bold;
        }

        .questionButtons button {
            margin: 10px;
        }

.ui-widget-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(90, 90, 90, 0.1);
    z-index: 3;
}

.customBtn {
    background-color: #F18651;
    border-style: none;
    color: white;
    font-size: 0.9em;
    padding: 4px 18px 5px;
    border-radius: 4px;
    font-weight: bold;
}

    .customBtn:hover {
        background-color: #d87848;
    }

ul {
    list-style-type: none;
    border: 2px solid #ced4da;
    margin: 5px;
    padding: 5px;
}
li {
    border-bottom: 1px solid #ced4da;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 0.9em;
    font-weight: bold;
}

    li:hover {
        background-color: #d87848;
        color: white;
        cursor: pointer;
    }

h3 {
    color: #F18651;
    font-weight: bold;
    margin-bottom: 10%;
    margin-top: 5%;
}

.scrollit {
    overflow-y: scroll;
    height: 155px;
    background-color: white;
}
.scrollit li{
    font-size: 0.8em;
}

    .scrollit p {
         margin: 3px;   
    }

.likeButtons {
    margin: 10px;
}

.like {
    margin-right: 5px;
    background-color: forestgreen;
}

.unlike{
    margin-left: 5px;
    background-color: red;
}

span.like {
    color: forestgreen;
    background-color: white;
}

span.unlike{
    color: red;
    background-color: white;
}

.hotQuestion {
    color: #F18651;
}

.headerInfo {
    color: #F18651;
    margin-top: 2%;
}

.navbar-brand {
    color: #F18651;
    font-weight: bold;
}

.myPage label {
    color: #F18651;
    font-weight: bold;
}

.myPage button{
    margin-top: 15px;
}

.myQuestions {
    text-align: center;
}
    .myQuestions h3 {
        margin: 35px;
    }
    
    .myQuestions .scrollit{
        height: 20%;
    }



